.ui-datatable.order tr {
    text-align: center;
}

.ui-datatable.order td {
    text-align: center;
}

.ui-datatable.count tr {
    text-align: center;
}

.ui-datatable.count td {
    text-align: center;
}

#main-container {
    background-color: white;
    border-radius: 10px;
}

